[submodule "dot-vim/bundle/vundle"]
	path = dot-vim/bundle/vundle
	url = https://github.com/gmarik/vundle.git
[submodule "dot-vim/bundle/syntastic"]
	path = dot-vim/bundle/syntastic
	url = https://github.com/scrooloose/syntastic.git
[submodule "dot-vim/bundle/ultisnips"]
	path = dot-vim/bundle/ultisnips
	url = https://github.com/SirVer/ultisnips
